
<footer class="custom-footer">
  <div class="container text-center text-md-left pt-4">
    <div class="row mt-3">
      <div class="col-md-3 col-lg-4 col-xl-3 mb-4">
        <h6 class="text-uppercase font-weight-bold">Medical Online</h6>
        <hr class="teal accent-3 mb-4 mt-0 d-inline-block mx-auto width-100">
        <p>Here you can use rows and columns here to organize your footer content. Lorem ipsum dolor sit amet, consectetur
          adipisicing elit.</p>

      </div>
      <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
        <h6 class="text-uppercase font-weight-bold">Products</h6>
        <hr class="teal accent-3 mb-4 mt-0 d-inline-block mx-auto width-100">
        <p>
          <a class="dark-grey-text" href="#!">Product 1</a>
        </p>
        <p>
          <a class="dark-grey-text" href="#!">Product 2</a>
        </p>
        <p>
          <a class="dark-grey-text" href="#!">Product 3</a>
        </p>
        <p>
          <a class="dark-grey-text" href="#!">Product 4</a>
        </p>

      </div>
      <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
        <h6 class="text-uppercase font-weight-bold">Useful links</h6>
        <hr class="teal accent-3 mb-4 mt-0 d-inline-block mx-auto width-100">
        <p>
          <a class="dark-grey-text" href="#!">Your Account</a>
        </p>
        <p>
          <a class="dark-grey-text" href="#!">Become an Affiliate</a>
        </p>
        <p>
          <a class="dark-grey-text" href="#!">Shipping Rates</a>
        </p>
        <p>
          <a class="dark-grey-text" href="#!">Help</a>
        </p>

      </div>
      <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
        <h6 class="text-uppercase font-weight-bold">Contact</h6>
        <hr class="teal accent-3 mb-4 mt-0 d-inline-block mx-auto width-100">
        <p>
          <mat-icon class="mr-1 footer-icon">home</mat-icon> Chennai, TN 600 001, IN</p>
        <p>
          <mat-icon class="mr-1 footer-icon">email</mat-icon> info@medonline.com</p>
        <p>
          <mat-icon class="mr-1 footer-icon">phone</mat-icon> + 044 2645678</p>
        <p>
          <mat-icon class="mr-1 footer-icon">print</mat-icon> + 044 2345679</p>
      </div>
    </div>
  </div>
  <div class="text-center custom-copyright">© 2018 Copyright:
    <a class="dark-grey-text" href="/"> MedShopping.com</a>
  </div>
</footer>

<div id="chatlogo" class="chat-logo rounded-circle" 
  matTooltip="Tooltip on top">
  <div>
      <mat-icon class="footer-icon">chat</mat-icon>
  </div>  
</div>

<div id="chatcontainer" class="chat-container">
  <div class="row">
    <div class="col-12">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Med Online Helper</h5>
            <button type="button" id="CloneBtn" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            <button type="button" class="btn btn-primary">Save changes</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>